/**
 * unit-selftest:/result.css
 *
 * @creation  2018-05-09
 * @version   1.0
 * @package   unit-selftest
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

#selftest-result {
	border:  1px solid black;
	margin:  1em 0;
	padding: 1em 0.5em;
}

#selftest-result .error {
	font-weight: bold;
}

#selftest-result .user .modify:before {
	margin-left:  0.3em;
	margin-right: 0.1em;
	content: "("
}

#selftest-result .user .modify:after {
	margin-left:  0.1em;
	content: ")"
}

#selftest-result .column .current {
	margin-left: 0.5em;
}

#selftest-result .column .current:before {
	margin-left:  0.0em;
	margin-right: 0.5em;
	content: ":";
}

#selftest-result .column .current:after {
	margin-left:  0.2em;
	margin-right: 0.4em;
}

#selftest-result .column .modify {

}

#selftest-result .column .arrow:after {
	margin: 0.5em;
	content: "→";
}

/** Common
 * 
 */

#OP_SELFTEST .error .name {
	font-weight: bold;
}

#OP_SELFTEST .error .name:after {
	margin: 0.2em;
	content: ":";
}

/** User
 * 
 */

#OP_SELFTEST .user .modify:before {
	margin-left:  0.3em;
	margin-right: 0.1em;
	content: "("
}

#OP_SELFTEST .user .modify:after {
	margin-left:  0.1em;
	content: ")"
}

#OP_SELFTEST .error.exists:after {
	margin-left: 1em;
}

#OP_SELFTEST .error.exists:after,
#OP_SELFTEST .error > .error.exist:after,
#OP_SELFTEST .error > .error.exists:after {
	content: "NOT EXISTS";
}

#OP_SELFTEST .error > .error.password:after {
	content: "PASSWORD";
}

#OP_SELFTEST .error > .error.database:after {
	content: "DATABASE";
}

#OP_SELFTEST .error > .error.table:after {
	content: "TABLE";
}

#OP_SELFTEST .error > .error.privilege:after {
	content: "PRIVILEGE";
}

#OP_SELFTEST .current {
	margin-left: 0.5em;
}

#OP_SELFTEST .current:after {
	margin-left:  0.2em;
	margin-right: 0.4em;
}

#OP_SELFTEST .arrow:after {
	margin: 0.5em;
	content: "→";
}

#OP_SELFTEST .lack {
	margin-left: 0.5em;
}

#OP_SELFTEST .lack span:first-child:before {
	content: "(";
}

#OP_SELFTEST .lack span:not(:first-child):after {
	content: ",";
	margin-left: 0.5em;
}

#OP_SELFTEST .lack span:last-child:after {
	content: ")";
}

#OP_SELFTEST .modify {

}

/** Field
 * 
 */

#OP_SELFTEST .empty:after,
#OP_SELFTEST .empty:before {
	margin:  0;
	padding: 0;
	content: '"';
}

#OP_SELFTEST .field.missing:after {
	content: " → MISSING";
}

#OP_SELFTEST .field.leftover {
	color: green;
}

#OP_SELFTEST .field.leftover:after {
	content: " → LEFTOVER";
}
